* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0e0c16;
    color: #ececec;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      overflow: hidden;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  /* For large screens (desktops) */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* For medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}

/* For small screens (mobile phones) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}