.dashboardLayout {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    height: 100%;
  
    .menu {
      flex: 1;
    }
  
    .content {
      flex: 4;
      background-color: #12101b;
    }
  }
  @media (max-width: 767px) {
    .dashboardLayout {
      flex-direction: column;
    }
  
    .dashboardLayout .menu {
      display: none;
    }
  
    .dashboardLayout .content {
      flex: 1;
    }
  }